<head>
  <title><%- title -%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="css/bootstrap.vue.css"/>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/polyfill.min.js"></script>
  <script src="js/bootstrap-vue.js"></script>
</head>
