<html>
  <%- include('system/header') -%>
  <body>
    <%- include('menu') -%>
    <div id="app" class="text-center">
      Hello World!
    </div>
  </body>
  <script src="vues/index.js"></script>
</html>
